# Build and Release Folders
bin/
obj/
packages/
Properties/
Resources/

# Stuff that shouldn't go upstairs
Strings.resx
Strings.Designer.cs
FodyWeavers.xml
FodyWeavers.xsd

# Hidden Folders
.*
!/.gitignore