<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.7.82" targetFramework="net462" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net462" />
  <package id="Fody" version="4.2.1" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.7" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.7" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.7" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.7" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.7" targetFramework="net462" developmentDependency="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>